


.mainContainer {
    gap: 2rem;
    width: 350px;
    background-color: white;
    /* background-color: rgb(28,30,32); */
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-bottom: 2rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.mainContainer:hover {
    transform: scale(1.01);
}

.imageContainer {
    width: 100%;
    height: 70%;
}

.detailsContainer {
    width: 100%;
    height: 30%;
    border-top: 1px solid var(--border-gray);
    z-index: 10;
}

.firstDetailRow {
    display: flex;
    justify-content: space-between;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 0.3rem;
    width: 100%;
    height: 20px;
}

.address {
    color: var(--font-gray);
    margin-bottom: 1rem;
    font-weight: 900;
    font-size: 1.3rem;
}



.secondDetailRow {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
    margin-top: 0.5rem;
}


.statusContainer {
    display: flex;
    align-items: center;
    
}

.statusIcon {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    /* background-color: rgba(42,219,196,255); */
    background-color: rgba(41,223,198,255);
}

.status {
    color: gray;
    font-weight: 700;
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}

.todayContainer {
    height: 100px;
    width: 500px;
    background-color: white;
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-bottom: 2rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -30px;
}